.bg {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.bg-reverse {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, rgba(0,0,0,.3));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, rgba(0,0,0,.3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-toggler:focus{
    box-shadow: none;
    outline:none;
}

.trix-editor{
    background-color: white;
}

.content-section {
    margin: 0em;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrap{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.section-header{
    font-family: serif;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2em;
}






.mobile {
    width: 200px;
    height: 400px;
    background: #fff;
    border-radius: 30px;
    border: 2px solid rgba(0,0,0,.3);
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
}


@media screen and (max-width: 450px ){
    .form {
        padding:20px;
        width: 100%;
        height: 500px;
        margin: 50px 0 50px;
        box-sizing: border-box;
        box-shadow: 0 0 8px rgba(0,0,0,.3);
        
    }

    .home{
        padding: 70px 20px;
    }
}

@media screen and (min-width: 451px ){
    .form {
        padding:20px;
        min-width: 400px;
        max-width: 1000px;
        height: 500px;
        margin: 50px 0 50px;
        box-sizing: border-box;
        box-shadow: 0 0 8px rgba(0,0,0,.3);
        
    }

    .home{
        padding: 70px;
    }
}

.project-form {
    
    padding-left: 20px;
    padding-right: 20px;
    min-width: 320px;
    max-width: 700px;
    border: 2px solid rgba(0,0,0,.3);
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    
}




.form-box {
    position: relative;
    width: 100%;
}
.register {
    height: 650px;
}



.img {
    height: 70px;
    width: 70px;
    float: left;
    border-radius: 50%;
    

}



.page {
    width:100%;
    padding:20px;
    height: 100%;
    border: 0px solid rgba(0,0,0,.3);
    box-sizing: border-box;
    background: rgba(0,0,0,.1);
    margin-bottom: 15px;

    
}

.page-b {
    padding: 20px;
    width: 100%;
    max-width: 850px;
    height: 100%;
    border: 0px solid rgba(0,0,0,.3);
    box-sizing: border-box;
}
.sidebar {
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    
}


.display {
    font-size: 1.5em;
    margin-left: 0px;
}

.btn-sign {
    background-color: #0a77ebc4;
}

.btn-sign:hover {
    background-color: #0a77eb9b;
}

.success-alert {
    background-color: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 5px;
}

.danger-alert {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 5px;
}

.section {
    margin-bottom: 20px;
}

.section.topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid grey;

}

.section.topics ul li a {
    display: block;
    padding: 5px;
    border-bottom: 1px solid grey;
    transition: all 0.3s;
}

.section.topics ul li a:hover {
    padding-left: 20px;
    text-decoration: none;
    transition: all 0.3s;
}

.drop {
    display: block;
    padding: 2px;
    border-bottom: 1px solid grey;
    transition: all 0.3s;
}

.drop:last-child {
    border-bottom: none;
}

.drop:hover {
    padding-left: 10px;
    background-color: grey;
    transition: all 0.3s;
}

.menu-bar:hover {
    background-color: grey;
    display: block;
    border-radius: 5px;
}

.menu-drop {
    background-color: rgba(0,0,0,.5);

}

.bg-page {
    
    border-radius: 5px;
    padding: 30px;
    text-align: left;

}

.profile{
    padding: 60px 30px;

    
}

@media screen and (width:1024px){
    .profile{
        padding:60px 0;
    }
}

.wrap-text{
    word-wrap: break-word;
}
    
.image-container {
    background: #ffffff;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 5px;
    
}

.image-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

    
    
.bdg{
    border: 2px solid grey;
    padding: 5px;   
}
    
    
.button {
    padding: 12px 20px;
    background: gray;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    text-decoration: none;
    transition: all .3s ease-in;
    margin-bottom: 20px;
}
    
@media screen and (max-width: 350px ){
    .button{
        padding: 10px;
    }
}
    
.button:hover{
    background: transparent;
    color: grey;
    border: 2px solid grey;
    text-decoration: none;
}
    
.button:focus{
    outline:none;
    box-shadow: none;
}
    
.profile-details{
    margin-bottom: 15px;
    
    
}

.p-link{
    text-decoration: none;
    color: #ffffffff;
}

.p-link:hover{
    color: grey;
    text-decoration: none;
}
    
.pad{
    padding: 7px;
}

.post-header {
    background: grey;
    color: white;
    padding: 10px;
    height: 100%;
}

.author-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.upper {
    border-bottom: 1px solid grey;
    margin: 0px;
    padding: 10px;
    
    
}



.post-author {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    
}

.post-author:hover {
    
    color: rgba(255,255,255,.7);
    text-decoration: none;
    
}

.author-bio {
    display: block;


    
}

.author-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.link:hover {
    text-decoration: none;
}

.find-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.option:hover {
    background-color: rgba(0,0,0,.1);
}