{% extends 'base.html' %}
{% block body %}
     <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        
        <div class='wrap my-5'>
            <div class='page text-light'>
                {% for post in posts %}
                
                    <!--<div class='mb-2 post-header'>
                        <img class='author-image float-left' src="{{url_for('static',filename='images/default.jpg')}}">
                        <a href='{{url_for("profile",user=post.author)}}' class='ml-4'>{{post.author}}</a>
                        <small class=' mb-2'>{{ post.date_posted }}</small>
                    </div>-->
                    <div class='upper'>
                        <header class='subject'>
                            <img class='img mr-2' src="{{url_for('static',filename='images/'+ post.author.image_file)}}">
                        
                                <div class='text-left'><a href='{{url_for("profile",user=post.author.username)}}' class='post-author' >{{post.author.username}}</a>
                                
                                <p class='text-muted author-bio '>{{post.author.bio}}</p></div>
                            
                        </header>
                    </div>
                    
                    <div class='mb-6 bg-page text-light'>
                        <br>
                        <h2>{{ post.title }}</h2>
                        <small class='mb-2 text-muted'>{{ post.date_posted.strftime('%Y-%m-%d') }}</small><small class='ml-4 text-muted'>{{post.comments.count()}} Comments</small>
                        <div class='mt-2'>{{ post.content| safe | truncate(300)}} <br> <a href='{{url_for("post",post_author=post.author.username,post_slug=post.slug)}}' class='btn btn-outline-secondary mt-2'>Read more</a></div>      
                        </div>
                        <br>
                {% endfor %}
            </div>
            <br>
            <div class='sidebar text-light'>
                <div class='section topics'>
                    <h3 class='section-title'>Latest Articles</h3>
                    <ul>
                        {% for article in top_articles %}
                        <li><a href='{{url_for("post",post_author=article.author.username,post_slug=article.slug)}}'>{{ article.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class='section topics'>
                    <h3 class='section-title'>Top Writers</h3>
                    <ul>
                        {% for user in users %}
                        <li><a href='{{url_for("profile",user=user.username)}}'>{{user.username}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}