{% extends 'layout.html' %}
{% block body %}
<h3 class='text-light mt-4 mb-4 text-center'>DevWriters</h3>

<div class='container'>
    <table class='table table-striped table-dark table-striped mb-4 bg'>
        <thead>
            <tr>
                <th scope="col">Profile</th>
                
                
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope='row'><img class='float-left find-image mr-2' src='{{ url_for("static",filename="images/"+ user.image_file)}}'><a class='link' href='{{url_for("profile",user=user.username)}}'>{{user.username}}</a></th>
                    
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}