{% extends 'layout.html' %}
{% block body %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        
        <div class='wrap'>
            <div class='page text-light'>
                {% for post in posts %}
                
                    <div class='mb-2'>
                        
                        <a href='/users/{{post.author}}' class='ml-4'>{{post.author}}</a>
                        <small class='text-muted mb-2'>{{ post.date_posted }}</small>
                    </div>
                    
                    <div class='mb-6 bg-page text-light'>
                        <br>
                        <h2>{{ post.title }}</h2>
                        <div>{{ post.content|truncate(300)}} <a href='#'>read more</a></div>      
                        </div>
                        <br>
                {% endfor %}
            </div>
            <br>
            <div class='sidebar text-light'>
                <div class='section topics'>
                    <h3 class='section-title'>Latest Posts</h3>
                        <ul>
                            <li><a href='#'>Yoruba culture</a></li>
                            <li><a  href='#'>Igbo culture</a></li>
                            <li><a href='#'>Hausa culture</a></li>
                            <li><a href='#'>Fulani culture</a></li>
                            <li><a href='#'>Edo culture</a></li>
                        </ul>
                </div>
                <div class='section topics'>
                    <h3 class='section-title'>Top Writers</h3>
                        <ul>
                            <li><a href='#'>Sc Mofeoluwa</a></li>
                            <li><a href='#'>nerd_thejohn</a></li>
                            <li><a href='#'>LordGhostX</a></li>
                            <li><a href='#'>Shay</a></li>
                            <li><a href='#'>Agba Dev</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}