{% extends 'layout.html' %}
{% block body %}
<div class="container my-5">
    <div class="form pt-4" style='height:100%; margin-top:50px; width: 100%; max-width: 800px; '>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-light">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label text-light") }}
                    {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label text-light") }}
                    {% if form.content.errors %}
                    {{ form.content(class="form-control  is-invalid" ) }}
                        <div class="invalid feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control ") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group ">
                {{ form.submit(class="btn btn-outline-secondary") }}
            </div>
        </form>
    </div>
</div>
{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}
{% endblock %}