{% extends 'layout.html' %}
{% block body %}


        <div class="home ">
        
            <div class='row justify-content-center '>
                <div class='profile text-light col-lg-3'>
                    <div class='image-container mb-4'>
                        <img src='{{ image_file }}'>
                    </div>
                    <div class='mb-4'>
                        <div >
                            <h3>{{ user.username }}</h3>
                            <p class='wrap-text'>{{ user.email }}</p>
                            <p class='wrap-text'><i>{{user.bio}}</i></p>
                        </div>
                    </div>
                    <div class='mb-4' style='display:flex;'>
                        <span class='pad'>{{user.followers.count()}} 
                            <p class="small"><a class='p-link' href='{{url_for("followers",user=user.username)}}'>Followers</a></p>
                        </span>
                        <span class='pad'>
                            {{user.followed.count()}}<p class="small"><a class='p-link' href='{{url_for("followed",user=user.username)}}'>Following</a></p>
                        </span>
                        <span class='pad'>
                            {{ article }}<p class="small"><a class='p-link' href='#articles'>Articles</a></p>
                        </span>
                        <span class='pad'>
                            {{ contributions }}<p class="small"><a class='p-link' href='#articles'>Contributions</a></p>
                        </span>
                    </div>
                        
                        
                    
                    <div >
                        <div>
                            {% if user==current_user %}
                            <div class='mb-4'><a href='{{url_for("update",user=user.username)}}' class='button'>Update Profile</a></div>
                            <button type="button" class="button" data-toggle="modal" data-target="#exampleModalCenter">
                                Delete Account
                            </button>                                 
                            {% else %}
                                {% if not current_user.is_following(user) %}
                                    <a href='{{url_for("follow",username=user.username)}}' class='button '>Follow</a>
                                {% else %}
                                    <a href='{{url_for("unfollow",username=user.username)}}' class='button '>Unfollow</a>
                                {% endif %}
                            {% endif %}
                                {% if current_user.is_authenticated and user!=current_user and user.is_following(current_user) %}
                                <span class='badge ml-2 bdg'>Follows you</span>
                                {% endif %}
                        </div>
                    </div>
                    
                    
                </div>
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Delete Account</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>All articles and personal data will be lost, are you sure you want to delete your account?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <form action='{{url_for("delete_account",user=user.username)}}' method="POST">
                              <input type='submit' class='btn btn-danger' value='Delete'>
                          </form>
                          
                        </div>
                      </div>
                    </div>
                </div>
                  
                
                <div class='page text-light col-lg-9'>
                    <h3 class='mb-4 text-center' id='articles' style='color:grey'>Articles</h3>
                    {% if posts.items|length== 0 %}
                    <i class='text-muted'>No articles by this user yet</i>
                    {% else %}
                        {% for post in posts.items %}
                        
                            <!--<div class='mb-2 post-header'>
                                <img class='author-image float-left' src="{{url_for('static',filename='images/default.jpg')}}">
                                <a href='{{url_for("profile",user=post.author)}}' class='ml-4'>{{post.author}}</a>
                                <small class=' mb-2'>{{ post.date_posted }}</small>
                            </div>-->
                            
                            <div class='mb-6 bg-page text-light' style='border-bottom: 1px solid grey;'>
                                <br>
                                <h2>{{ post.title }}</h2>
                                <small class='mb-2 text-muted'>{{ post.date_posted.strftime('%Y-%m-%d') }}</small><small class='ml-4 text-muted'>{{post.comments.count()}} Comments</small>
                                <div class='mt-2'>{{ post.content|safe|truncate(300)}} <br> <a href='{{url_for("post",post_author=post.author.username,post_slug=post.slug)}}' class='btn btn-outline-secondary mt-2'>Read more</a></div>      
                            </div>
                                <br>
                        {% endfor %}
                    {% endif %}
                    <ul class='pagination mt-4'>
                        <li>
                            {% if posts.has_prev %}
                                <a class='btn btn-outline-secondary' href=' {{ url_for("home",page=posts.page-1)}} '>Prev</a>
                            {% else %}
                                <a class='btn btn-outline-secondary disabled' href=' {{ url_for("home",page=posts.page-1)}} '>Prev</a>
                            {% endif %}
                        </li>
                        <li >
                            {% if posts.has_next %}
                                <a class='btn btn-outline-secondary ml-4' href=' {{ url_for("home",page=posts.page+1)}} '>Next</a>
                            {% else %}
                                <a class='btn btn-outline-secondary disabled ml-4' href=' {{ url_for("home",page=posts.page+1)}} '>Next</a>
                            {% endif %}
                         </li>
                    </ul>
                    
                </div>
                <br>
                
            </div>
        </div>
    
    
{% endblock %}