{% extends 'layout.html' %}
{% block body %}
<h3 class='text-light  mb-4 text-center' style='margin-top: 100px;'>The DevWrites Project</h3>
<div class=' container text-light position-relative' style='padding:20px; height: 500px; margin-bottom: 40px;
  '>
  <div class=' project-form pt-4 mb-8' >
    <p>The DevWrites project was developed by <a href='https://www.github.com/JohnKayode'>Shodipo O. John</a> and 
        <a href='https://www.github.com/ScMofeoluwa'>Lijadu Mofeoluwa</a> as part of the #30DaysOfFlask Challenge.<br><br>
        Users will create accounts and have profiles, they can write, edit and delete their articles, they can also
        read and comment on articles from other users. Users can follow and unfollow other users to see their articles.
        Users are able to
        update their profiles or delete their accounts, they can search and find other users on the <i>Find Writers</i> page.
        <br><br>
        Technologies used:
        HTML, CSS, BOOTSTRAP, FLASK(backend) and SQLlite(database).
        <br><br>
        However, you can contribute to the DevWrites project. Link to
        the GitHub repostory: <a href='https://www.github.com/JohnKayode/Flask-blog'>The DevWrites Project.</a>
        <br><br><br>
        DevWrites&copy;2020
        
    </p>
  </div>

</div>

{% endblock %}